services:
  - type: web
    name: ultraviolet-backend
    env: node
    plan: free
    branch: main
    rootDir: .
    buildCommand: npm install && npm run build
    startCommand: npm start
    autoDeploy: true
